@font-face {
  font-family: "groww-huge-rounded";
  src: url('groww-huge-rounded.eot?t=1778135533405'); /* IE9*/
  src: url('groww-huge-rounded.eot?t=1778135533405#iefix') format('embedded-opentype') /* IE6-IE8 */,
  url('groww-huge-rounded.woff2?t=1778135533405') format('woff2'),
  url('groww-huge-rounded.woff?t=1778135533405') format('woff'),
  url('groww-huge-rounded.ttf?t=1778135533405') format('truetype'),
  url('groww-huge-rounded.svg?t=1778135533405') format('svg');
}

[class^="gh-rounded-"], [class*=" gh-rounded-"] {
  font-family: 'groww-huge-rounded' !important;font-size: 1em;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




.gh-rounded-3-d-view::before { content: "\ea01"; }
.gh-rounded-activity-05::before { content: "\ea02"; }
.gh-rounded-activity-circle::before { content: "\ea03"; }
.gh-rounded-activity-spark::before { content: "\ea04"; }
.gh-rounded-add-01::before { content: "\ea05"; }
.gh-rounded-add-circle::before { content: "\ea06"; }
.gh-rounded-add-square::before { content: "\ea07"; }
.gh-rounded-adjust-position::before { content: "\ea08"; }
.gh-rounded-ai-beautify::before { content: "\ea09"; }
.gh-rounded-ai-generative::before { content: "\ea0a"; }
.gh-rounded-ai-magic::before { content: "\ea0b"; }
.gh-rounded-alarm-clock::before { content: "\ea0c"; }
.gh-rounded-album-02::before { content: "\ea0d"; }
.gh-rounded-alert-02::before { content: "\ea0e"; }
.gh-rounded-alert-circle::before { content: "\ea0f"; }
.gh-rounded-all-bookmark::before { content: "\ea10"; }
.gh-rounded-analytics-01::before { content: "\ea11"; }
.gh-rounded-anchor::before { content: "\ea12"; }
.gh-rounded-api::before { content: "\ea13"; }
.gh-rounded-apple-reminder::before { content: "\ea14"; }
.gh-rounded-approximately-equal::before { content: "\ea15"; }
.gh-rounded-arrow-all-direction::before { content: "\ea16"; }
.gh-rounded-arrow-down-01::before { content: "\ea17"; }
.gh-rounded-arrow-down-02::before { content: "\ea18"; }
.gh-rounded-arrow-down-left-01::before { content: "\ea19"; }
.gh-rounded-arrow-down-right-01::before { content: "\ea1a"; }
.gh-rounded-arrow-left-01::before { content: "\ea1b"; }
.gh-rounded-arrow-left-right::before { content: "\ea1c"; }
.gh-rounded-arrow-right-01::before { content: "\ea1d"; }
.gh-rounded-arrow-right-02::before { content: "\ea1e"; }
.gh-rounded-arrow-right-double::before { content: "\ea1f"; }
.gh-rounded-arrow-shrink-02::before { content: "\ea20"; }
.gh-rounded-arrow-shrink::before { content: "\ea21"; }
.gh-rounded-arrow-up-01::before { content: "\ea22"; }
.gh-rounded-arrow-up-02::before { content: "\ea23"; }
.gh-rounded-arrow-up-down::before { content: "\ea24"; }
.gh-rounded-arrow-up-left-01::before { content: "\ea25"; }
.gh-rounded-arrow-up-right-01::before { content: "\ea26"; }
.gh-rounded-arrow-up-right-stack::before { content: "\ea27"; }
.gh-rounded-arrow-vertical::before { content: "\ea28"; }
.gh-rounded-at::before { content: "\ea29"; }
.gh-rounded-atm-02::before { content: "\ea2a"; }
.gh-rounded-attachment-01::before { content: "\ea2b"; }
.gh-rounded-attachment::before { content: "\ea2c"; }
.gh-rounded-audio-wave-01::before { content: "\ea2d"; }
.gh-rounded-bank::before { content: "\ea2e"; }
.gh-rounded-battery-charging-01::before { content: "\ea2f"; }
.gh-rounded-battery-empty::before { content: "\ea30"; }
.gh-rounded-battery-full::before { content: "\ea31"; }
.gh-rounded-battery-low::before { content: "\ea32"; }
.gh-rounded-bluetooth-not-connected::before { content: "\ea33"; }
.gh-rounded-bluetooth-square::before { content: "\ea34"; }
.gh-rounded-bluetooth::before { content: "\ea35"; }
.gh-rounded-book-open-01::before { content: "\ea36"; }
.gh-rounded-book-open-02::before { content: "\ea37"; }
.gh-rounded-bookmark-02::before { content: "\ea38"; }
.gh-rounded-bookmark-03::before { content: "\ea39"; }
.gh-rounded-border-horizontal::before { content: "\ea3a"; }
.gh-rounded-border-left-02::before { content: "\ea3b"; }
.gh-rounded-border-none-01::before { content: "\ea3c"; }
.gh-rounded-border-right-02::before { content: "\ea3d"; }
.gh-rounded-border-vertical::before { content: "\ea3e"; }
.gh-rounded-briefcase-02::before { content: "\ea3f"; }
.gh-rounded-bubble-chat-question::before { content: "\ea40"; }
.gh-rounded-bubble-chat::before { content: "\ea41"; }
.gh-rounded-bug-02::before { content: "\ea42"; }
.gh-rounded-bulb::before { content: "\ea43"; }
.gh-rounded-calculate::before { content: "\ea44"; }
.gh-rounded-calculator-01::before { content: "\ea45"; }
.gh-rounded-calendar-03::before { content: "\ea46"; }
.gh-rounded-calendar-04::before { content: "\ea47"; }
.gh-rounded-calendar-05::before { content: "\ea48"; }
.gh-rounded-calendar-add-01::before { content: "\ea49"; }
.gh-rounded-calendar-check-out-01::before { content: "\ea4a"; }
.gh-rounded-calendar-remove-02::before { content: "\ea4b"; }
.gh-rounded-calendar-sync::before { content: "\ea4c"; }
.gh-rounded-call-add::before { content: "\ea4d"; }
.gh-rounded-call-disabled::before { content: "\ea4e"; }
.gh-rounded-call-end-02::before { content: "\ea4f"; }
.gh-rounded-call-incoming-02::before { content: "\ea50"; }
.gh-rounded-call-missed-04::before { content: "\ea51"; }
.gh-rounded-call-outgoing-02::before { content: "\ea52"; }
.gh-rounded-call-ringing-01::before { content: "\ea53"; }
.gh-rounded-call::before { content: "\ea54"; }
.gh-rounded-camera-01::before { content: "\ea55"; }
.gh-rounded-camera-microphone-02::before { content: "\ea56"; }
.gh-rounded-cancel-01::before { content: "\ea57"; }
.gh-rounded-cancel-circle::before { content: "\ea58"; }
.gh-rounded-cancel-square::before { content: "\ea59"; }
.gh-rounded-carousel-horizontal-02::before { content: "\ea5a"; }
.gh-rounded-carousel-vertical::before { content: "\ea5b"; }
.gh-rounded-chart-01::before { content: "\ea5c"; }
.gh-rounded-chart-02::before { content: "\ea5d"; }
.gh-rounded-chart-03::before { content: "\ea5e"; }
.gh-rounded-chart-analysis::before { content: "\ea5f"; }
.gh-rounded-chart-bubble-02::before { content: "\ea60"; }
.gh-rounded-chart-candle::before { content: "\ea61"; }
.gh-rounded-chart-line-data-02::before { content: "\ea62"; }
.gh-rounded-check-list::before { content: "\ea63"; }
.gh-rounded-check-unread-04::before { content: "\ea64"; }
.gh-rounded-checkmark-badge-02::before { content: "\ea65"; }
.gh-rounded-checkmark-circle-02::before { content: "\ea66"; }
.gh-rounded-checkmark-square-01::before { content: "\ea67"; }
.gh-rounded-checkmark-square-02::before { content: "\ea68"; }
.gh-rounded-chevron-double-close::before { content: "\ea69"; }
.gh-rounded-circle-arrow-down-02::before { content: "\ea6a"; }
.gh-rounded-circle-arrow-left-right::before { content: "\ea6b"; }
.gh-rounded-circle-arrow-move-up-right::before { content: "\ea6c"; }
.gh-rounded-circle-arrow-up-02::before { content: "\ea6d"; }
.gh-rounded-circle-arrow-up-down::before { content: "\ea6e"; }
.gh-rounded-circle-arrow-up-right::before { content: "\ea6f"; }
.gh-rounded-circle-lock-check-02::before { content: "\ea70"; }
.gh-rounded-circle-unlock-01::before { content: "\ea71"; }
.gh-rounded-circle::before { content: "\ea72"; }
.gh-rounded-clock-01::before { content: "\ea73"; }
.gh-rounded-clock-02::before { content: "\ea74"; }
.gh-rounded-clock-add::before { content: "\ea75"; }
.gh-rounded-cloud-download::before { content: "\ea76"; }
.gh-rounded-cloud-saving-done-01::before { content: "\ea77"; }
.gh-rounded-cloud-upload::before { content: "\ea78"; }
.gh-rounded-cloud::before { content: "\ea79"; }
.gh-rounded-coins-02::before { content: "\ea7a"; }
.gh-rounded-comment-01::before { content: "\ea7b"; }
.gh-rounded-comment-add-02::before { content: "\ea7c"; }
.gh-rounded-computer-remove::before { content: "\ea7d"; }
.gh-rounded-conference::before { content: "\ea7e"; }
.gh-rounded-configuration-01::before { content: "\ea7f"; }
.gh-rounded-contact-book::before { content: "\ea80"; }
.gh-rounded-contact::before { content: "\ea81"; }
.gh-rounded-copy-02::before { content: "\ea82"; }
.gh-rounded-copyright::before { content: "\ea83"; }
.gh-rounded-credit-card::before { content: "\ea84"; }
.gh-rounded-cursor-rectangle-selection-01::before { content: "\ea85"; }
.gh-rounded-dashboard-square-02::before { content: "\ea86"; }
.gh-rounded-dashboard-square-add::before { content: "\ea87"; }
.gh-rounded-dashed-line-circle::before { content: "\ea88"; }
.gh-rounded-delete-01::before { content: "\ea89"; }
.gh-rounded-delete-02::before { content: "\ea8a"; }
.gh-rounded-delete-04::before { content: "\ea8b"; }
.gh-rounded-delete-throw::before { content: "\ea8c"; }
.gh-rounded-delivery-box-02::before { content: "\ea8d"; }
.gh-rounded-device-access::before { content: "\ea8e"; }
.gh-rounded-dialpad-square-02::before { content: "\ea8f"; }
.gh-rounded-disability-01::before { content: "\ea90"; }
.gh-rounded-disability-02::before { content: "\ea91"; }
.gh-rounded-discover-circle::before { content: "\ea92"; }
.gh-rounded-distribute-horizontal-center::before { content: "\ea93"; }
.gh-rounded-document-code::before { content: "\ea94"; }
.gh-rounded-dollar-01::before { content: "\ea95"; }
.gh-rounded-dollar-circle::before { content: "\ea96"; }
.gh-rounded-dollar-square::before { content: "\ea97"; }
.gh-rounded-download-03::before { content: "\ea98"; }
.gh-rounded-download-04::before { content: "\ea99"; }
.gh-rounded-drag-drop-vertical::before { content: "\ea9a"; }
.gh-rounded-eco-power::before { content: "\ea9b"; }
.gh-rounded-edge-style::before { content: "\ea9c"; }
.gh-rounded-edit-off::before { content: "\ea9d"; }
.gh-rounded-electricity-stack::before { content: "\ea9e"; }
.gh-rounded-energy-ellipse::before { content: "\ea9f"; }
.gh-rounded-energy::before { content: "\eaa0"; }
.gh-rounded-eraser-01::before { content: "\eaa1"; }
.gh-rounded-estimate-02::before { content: "\eaa2"; }
.gh-rounded-euro::before { content: "\eaa3"; }
.gh-rounded-favourite::before { content: "\eaa4"; }
.gh-rounded-file-02::before { content: "\eaa5"; }
.gh-rounded-file-attachment::before { content: "\eaa6"; }
.gh-rounded-file-download::before { content: "\eaa7"; }
.gh-rounded-file-empty-01::before { content: "\eaa8"; }
.gh-rounded-file-search::before { content: "\eaa9"; }
.gh-rounded-file-upload::before { content: "\eaaa"; }
.gh-rounded-file-validation::before { content: "\eaab"; }
.gh-rounded-file-view::before { content: "\eaac"; }
.gh-rounded-film-02::before { content: "\eaad"; }
.gh-rounded-filter-mail-circle::before { content: "\eaae"; }
.gh-rounded-filter::before { content: "\eaaf"; }
.gh-rounded-finger-access::before { content: "\eab0"; }
.gh-rounded-first-aid-kit::before { content: "\eab1"; }
.gh-rounded-flag-02::before { content: "\eab2"; }
.gh-rounded-flashlight::before { content: "\eab3"; }
.gh-rounded-floppy-disk::before { content: "\eab4"; }
.gh-rounded-folder-add::before { content: "\eab5"; }
.gh-rounded-folder-details::before { content: "\eab6"; }
.gh-rounded-folder-export::before { content: "\eab7"; }
.gh-rounded-folder-file-storage::before { content: "\eab8"; }
.gh-rounded-folder-shared-01::before { content: "\eab9"; }
.gh-rounded-folder-upload::before { content: "\eaba"; }
.gh-rounded-forward-01::before { content: "\eabb"; }
.gh-rounded-full-screen::before { content: "\eabc"; }
.gh-rounded-gif-01::before { content: "\eabd"; }
.gh-rounded-gift-card-02::before { content: "\eabe"; }
.gh-rounded-gift-card::before { content: "\eabf"; }
.gh-rounded-global-search::before { content: "\eac0"; }
.gh-rounded-gold-buy::before { content: "\eac1"; }
.gh-rounded-gold-sell::before { content: "\eac2"; }
.gh-rounded-google-doc::before { content: "\eac3"; }
.gh-rounded-gps-01::before { content: "\eac4"; }
.gh-rounded-gps-02::before { content: "\eac5"; }
.gh-rounded-gps-off-01::before { content: "\eac6"; }
.gh-rounded-gr-1::before { content: "\eac7"; }
.gh-rounded-grid-02::before { content: "\eac8"; }
.gh-rounded-headset::before { content: "\eac9"; }
.gh-rounded-help-circle::before { content: "\eaca"; }
.gh-rounded-help-square::before { content: "\eacb"; }
.gh-rounded-hierarchy-square-05::before { content: "\eacc"; }
.gh-rounded-hold-03::before { content: "\eacd"; }
.gh-rounded-home-11::before { content: "\eace"; }
.gh-rounded-hotspot-offline::before { content: "\eacf"; }
.gh-rounded-hotspot::before { content: "\ead0"; }
.gh-rounded-hourglass-off::before { content: "\ead1"; }
.gh-rounded-hourglass::before { content: "\ead2"; }
.gh-rounded-id::before { content: "\ead3"; }
.gh-rounded-identity-card::before { content: "\ead4"; }
.gh-rounded-image-02::before { content: "\ead5"; }
.gh-rounded-image-03::before { content: "\ead6"; }
.gh-rounded-image-add-02::before { content: "\ead7"; }
.gh-rounded-inbox-download::before { content: "\ead8"; }
.gh-rounded-inbox-unread::before { content: "\ead9"; }
.gh-rounded-inbox::before { content: "\eada"; }
.gh-rounded-information-circle::before { content: "\eadb"; }
.gh-rounded-information-square::before { content: "\eadc"; }
.gh-rounded-internet-antenna-01::before { content: "\eadd"; }
.gh-rounded-internet::before { content: "\eade"; }
.gh-rounded-invoice-01::before { content: "\eadf"; }
.gh-rounded-key-02::before { content: "\eae0"; }
.gh-rounded-label-important::before { content: "\eae1"; }
.gh-rounded-label::before { content: "\eae2"; }
.gh-rounded-language-skill::before { content: "\eae3"; }
.gh-rounded-laptop-cloud::before { content: "\eae4"; }
.gh-rounded-laptop-phone-sync::before { content: "\eae5"; }
.gh-rounded-layout-03::before { content: "\eae6"; }
.gh-rounded-layout-3-column::before { content: "\eae7"; }
.gh-rounded-layout-grid::before { content: "\eae8"; }
.gh-rounded-left-to-right-list-bullet::before { content: "\eae9"; }
.gh-rounded-left-to-right-list-number::before { content: "\eaea"; }
.gh-rounded-left-to-right-list-star::before { content: "\eaeb"; }
.gh-rounded-legal-02::before { content: "\eaec"; }
.gh-rounded-license::before { content: "\eaed"; }
.gh-rounded-link-05::before { content: "\eaee"; }
.gh-rounded-link-square-01::before { content: "\eaef"; }
.gh-rounded-list-view::before { content: "\eaf0"; }
.gh-rounded-live-streaming-02::before { content: "\eaf1"; }
.gh-rounded-location-06::before { content: "\eaf2"; }
.gh-rounded-location-offline-01::before { content: "\eaf3"; }
.gh-rounded-login-02::before { content: "\eaf4"; }
.gh-rounded-login-square-02::before { content: "\eaf5"; }
.gh-rounded-logout-01::before { content: "\eaf6"; }
.gh-rounded-logout-02::before { content: "\eaf7"; }
.gh-rounded-loyalty-card::before { content: "\eaf8"; }
.gh-rounded-mail-01::before { content: "\eaf9"; }
.gh-rounded-mail-account-01::before { content: "\eafa"; }
.gh-rounded-mail-edit-02::before { content: "\eafb"; }
.gh-rounded-mail-minus-02::before { content: "\eafc"; }
.gh-rounded-mail-reply-all-01::before { content: "\eafd"; }
.gh-rounded-mail-send-01::before { content: "\eafe"; }
.gh-rounded-mail-validation-01::before { content: "\eaff"; }
.gh-rounded-mds_ic_dll_fill::before { content: "\eb00"; }
.gh-rounded-mds_ic_huge_collapse::before { content: "\eb01"; }
.gh-rounded-mds_ic_huge_expand::before { content: "\eb02"; }
.gh-rounded-mds_ic_huge_expanded_chevron_double_close::before { content: "\eb03"; }
.gh-rounded-mds_ic_huge_expanded_chevron_double_optionchain::before { content: "\eb04"; }
.gh-rounded-mds_ic_huge_expanded_layout::before { content: "\eb05"; }
.gh-rounded-mds_ic_huge_product__mf::before { content: "\eb06"; }
.gh-rounded-mds_ic_huge_product_bonds::before { content: "\eb07"; }
.gh-rounded-mds_ic_huge_product_buy::before { content: "\eb08"; }
.gh-rounded-mds_ic_huge_product_dll::before { content: "\eb09"; }
.gh-rounded-mds_ic_huge_product_etf::before { content: "\eb0a"; }
.gh-rounded-mds_ic_huge_product_fno::before { content: "\eb0b"; }
.gh-rounded-mds_ic_huge_product_loans::before { content: "\eb0c"; }
.gh-rounded-mds_ic_huge_product_marketdepth::before { content: "\eb0d"; }
.gh-rounded-mds_ic_huge_product_pay::before { content: "\eb0e"; }
.gh-rounded-mds_ic_huge_product_search::before { content: "\eb0f"; }
.gh-rounded-mds_ic_huge_product_sell::before { content: "\eb10"; }
.gh-rounded-mds_ic_huge_product_stocks::before { content: "\eb11"; }
.gh-rounded-mds_ic_huge_product_stocks_sip::before { content: "\eb12"; }
.gh-rounded-mds_ic_huge_product_strategy::before { content: "\eb13"; }
.gh-rounded-mds_ic_huge_product_unfold_more::before { content: "\eb14"; }
.gh-rounded-mds_ic_huge_product_unlisted_icon::before { content: "\eb15"; }
.gh-rounded-mds_ic_huge_product_us_stocks::before { content: "\eb16"; }
.gh-rounded-mds_ic_huge_sort::before { content: "\eb17"; }
.gh-rounded-mds_ic_huge_stocks::before { content: "\eb18"; }
.gh-rounded-mds_ic_rupee::before { content: "\eb19"; }
.gh-rounded-mds_ic_stocks_sip_v3::before { content: "\eb1a"; }
.gh-rounded-medal-02::before { content: "\eb1b"; }
.gh-rounded-megaphone-03::before { content: "\eb1c"; }
.gh-rounded-menu-01::before { content: "\eb1d"; }
.gh-rounded-menu-03::before { content: "\eb1e"; }
.gh-rounded-menu-07::before { content: "\eb1f"; }
.gh-rounded-menu-08::before { content: "\eb20"; }
.gh-rounded-menu-09::before { content: "\eb21"; }
.gh-rounded-menu-square::before { content: "\eb22"; }
.gh-rounded-message-02::before { content: "\eb23"; }
.gh-rounded-message-blocked::before { content: "\eb24"; }
.gh-rounded-message-done-02::before { content: "\eb25"; }
.gh-rounded-message-multiple-01::before { content: "\eb26"; }
.gh-rounded-message-notification-02::before { content: "\eb27"; }
.gh-rounded-mic-01::before { content: "\eb28"; }
.gh-rounded-microscope::before { content: "\eb29"; }
.gh-rounded-microsoft::before { content: "\eb2a"; }
.gh-rounded-minus-sign::before { content: "\eb2b"; }
.gh-rounded-mobile-programming-02::before { content: "\eb2c"; }
.gh-rounded-mobile-security::before { content: "\eb2d"; }
.gh-rounded-money-02::before { content: "\eb2e"; }
.gh-rounded-money-lock::before { content: "\eb2f"; }
.gh-rounded-money-not-found-02::before { content: "\eb30"; }
.gh-rounded-moon-02::before { content: "\eb31"; }
.gh-rounded-more-02::before { content: "\eb32"; }
.gh-rounded-more-horizontal-circle-02::before { content: "\eb33"; }
.gh-rounded-more-horizontal::before { content: "\eb34"; }
.gh-rounded-more-vertical::before { content: "\eb35"; }
.gh-rounded-more::before { content: "\eb36"; }
.gh-rounded-mute::before { content: "\eb37"; }
.gh-rounded-next-week::before { content: "\eb38"; }
.gh-rounded-next::before { content: "\eb39"; }
.gh-rounded-note-add::before { content: "\eb3a"; }
.gh-rounded-notification-01::before { content: "\eb3b"; }
.gh-rounded-notification-02::before { content: "\eb3c"; }
.gh-rounded-options-call::before { content: "\eb3d"; }
.gh-rounded-paint-brush-02::before { content: "\eb3e"; }
.gh-rounded-paragraph-spacing::before { content: "\eb3f"; }
.gh-rounded-parking-area-square::before { content: "\eb40"; }
.gh-rounded-pathfinder-minus-back::before { content: "\eb41"; }
.gh-rounded-pathfinder-minus-front::before { content: "\eb42"; }
.gh-rounded-pause-circle::before { content: "\eb43"; }
.gh-rounded-payoneer::before { content: "\eb44"; }
.gh-rounded-pdf-02::before { content: "\eb45"; }
.gh-rounded-pen-01::before { content: "\eb46"; }
.gh-rounded-pencil-edit-01::before { content: "\eb47"; }
.gh-rounded-percent-circle::before { content: "\eb48"; }
.gh-rounded-percent::before { content: "\eb49"; }
.gh-rounded-phone-off-02::before { content: "\eb4a"; }
.gh-rounded-picture-in-picture-on::before { content: "\eb4b"; }
.gh-rounded-pie-chart-01::before { content: "\eb4c"; }
.gh-rounded-pie-chart-03::before { content: "\eb4d"; }
.gh-rounded-pin-02::before { content: "\eb4e"; }
.gh-rounded-play-circle::before { content: "\eb4f"; }
.gh-rounded-play-store::before { content: "\eb50"; }
.gh-rounded-plus-sign-circle::before { content: "\eb51"; }
.gh-rounded-power-socket-01::before { content: "\eb52"; }
.gh-rounded-preference-horizontal::before { content: "\eb53"; }
.gh-rounded-printer-off::before { content: "\eb54"; }
.gh-rounded-printer::before { content: "\eb55"; }
.gh-rounded-puzzle::before { content: "\eb56"; }
.gh-rounded-qr-code-01::before { content: "\eb57"; }
.gh-rounded-qr-code::before { content: "\eb58"; }
.gh-rounded-quote-down::before { content: "\eb59"; }
.gh-rounded-radar-03::before { content: "\eb5a"; }
.gh-rounded-radio-button::before { content: "\eb5b"; }
.gh-rounded-rain-drop::before { content: "\eb5c"; }
.gh-rounded-record::before { content: "\eb5d"; }
.gh-rounded-redo-03::before { content: "\eb5e"; }
.gh-rounded-redo::before { content: "\eb5f"; }
.gh-rounded-reload::before { content: "\eb60"; }
.gh-rounded-remote-control::before { content: "\eb61"; }
.gh-rounded-remove-circle::before { content: "\eb62"; }
.gh-rounded-remove-square::before { content: "\eb63"; }
.gh-rounded-restaurant-02::before { content: "\eb64"; }
.gh-rounded-right-to-left-list-number::before { content: "\eb65"; }
.gh-rounded-rss::before { content: "\eb66"; }
.gh-rounded-safe-box::before { content: "\eb67"; }
.gh-rounded-scissor::before { content: "\eb68"; }
.gh-rounded-screen-add-to-home::before { content: "\eb69"; }
.gh-rounded-screen-lock-rotation::before { content: "\eb6a"; }
.gh-rounded-screen-rotation::before { content: "\eb6b"; }
.gh-rounded-sd-card::before { content: "\eb6c"; }
.gh-rounded-search-add::before { content: "\eb6d"; }
.gh-rounded-search-minus::before { content: "\eb6e"; }
.gh-rounded-search-remove::before { content: "\eb6f"; }
.gh-rounded-search-replace::before { content: "\eb70"; }
.gh-rounded-seat-selector::before { content: "\eb71"; }
.gh-rounded-security-warning::before { content: "\eb72"; }
.gh-rounded-send-to-mobile::before { content: "\eb73"; }
.gh-rounded-sent::before { content: "\eb74"; }
.gh-rounded-server-stack-02::before { content: "\eb75"; }
.gh-rounded-settings-01::before { content: "\eb76"; }
.gh-rounded-shapes-01::before { content: "\eb77"; }
.gh-rounded-share-08::before { content: "\eb78"; }
.gh-rounded-share-knowledge::before { content: "\eb79"; }
.gh-rounded-shield-01::before { content: "\eb7a"; }
.gh-rounded-shield-user::before { content: "\eb7b"; }
.gh-rounded-shopping-basket-01::before { content: "\eb7c"; }
.gh-rounded-shopping-basket-03::before { content: "\eb7d"; }
.gh-rounded-shopping-cart-01::before { content: "\eb7e"; }
.gh-rounded-shopping-cart-add-01::before { content: "\eb7f"; }
.gh-rounded-shopping-cart-remove-02::before { content: "\eb80"; }
.gh-rounded-shrink-dot::before { content: "\eb81"; }
.gh-rounded-shut-down::before { content: "\eb82"; }
.gh-rounded-shutterstock::before { content: "\eb83"; }
.gh-rounded-sidebar-right::before { content: "\eb84"; }
.gh-rounded-sidebar-top::before { content: "\eb85"; }
.gh-rounded-signal-low-02::before { content: "\eb86"; }
.gh-rounded-signal-no-01::before { content: "\eb87"; }
.gh-rounded-signal-no-02::before { content: "\eb88"; }
.gh-rounded-smart-phone-01::before { content: "\eb89"; }
.gh-rounded-smart-phone-04::before { content: "\eb8a"; }
.gh-rounded-smart-phone-landscape::before { content: "\eb8b"; }
.gh-rounded-smile::before { content: "\eb8c"; }
.gh-rounded-sofa-01::before { content: "\eb8d"; }
.gh-rounded-solid-line-01::before { content: "\eb8e"; }
.gh-rounded-source-code::before { content: "\eb8f"; }
.gh-rounded-spam::before { content: "\eb90"; }
.gh-rounded-square-01::before { content: "\eb91"; }
.gh-rounded-square-arrow-move-down-left::before { content: "\eb92"; }
.gh-rounded-square-f::before { content: "\eb93"; }
.gh-rounded-square-lock-02::before { content: "\eb94"; }
.gh-rounded-square::before { content: "\eb95"; }
.gh-rounded-stamp::before { content: "\eb96"; }
.gh-rounded-star-circle::before { content: "\eb97"; }
.gh-rounded-star::before { content: "\eb98"; }
.gh-rounded-sticky-note-03::before { content: "\eb99"; }
.gh-rounded-stop-watch::before { content: "\eb9a"; }
.gh-rounded-store-04::before { content: "\eb9b"; }
.gh-rounded-summation-01::before { content: "\eb9c"; }
.gh-rounded-sun-01::before { content: "\eb9d"; }
.gh-rounded-swipe-up-07::before { content: "\eb9e"; }
.gh-rounded-tablet-connected-usb::before { content: "\eb9f"; }
.gh-rounded-tag-01::before { content: "\eba0"; }
.gh-rounded-tap-04::before { content: "\eba1"; }
.gh-rounded-target-01::before { content: "\eba2"; }
.gh-rounded-task-01::before { content: "\eba3"; }
.gh-rounded-task-done-01::before { content: "\eba4"; }
.gh-rounded-task-remove-01::before { content: "\eba5"; }
.gh-rounded-temperature::before { content: "\eba6"; }
.gh-rounded-text-align-center::before { content: "\eba7"; }
.gh-rounded-text-align-justify-center::before { content: "\eba8"; }
.gh-rounded-text-align-left::before { content: "\eba9"; }
.gh-rounded-text-align-right::before { content: "\ebaa"; }
.gh-rounded-text-bold::before { content: "\ebab"; }
.gh-rounded-text-check::before { content: "\ebac"; }
.gh-rounded-text-clear::before { content: "\ebad"; }
.gh-rounded-text-creation::before { content: "\ebae"; }
.gh-rounded-text-font::before { content: "\ebaf"; }
.gh-rounded-text-indent::before { content: "\ebb0"; }
.gh-rounded-text-italic::before { content: "\ebb1"; }
.gh-rounded-text-smallcaps::before { content: "\ebb2"; }
.gh-rounded-text-strikethrough::before { content: "\ebb3"; }
.gh-rounded-text-underline::before { content: "\ebb4"; }
.gh-rounded-text-wrap::before { content: "\ebb5"; }
.gh-rounded-text::before { content: "\ebb6"; }
.gh-rounded-thumbs-down::before { content: "\ebb7"; }
.gh-rounded-thumbs-up-down::before { content: "\ebb8"; }
.gh-rounded-thumbs-up::before { content: "\ebb9"; }
.gh-rounded-tick-02::before { content: "\ebba"; }
.gh-rounded-tick-double-02::before { content: "\ebbb"; }
.gh-rounded-ticket-01::before { content: "\ebbc"; }
.gh-rounded-ticket-02::before { content: "\ebbd"; }
.gh-rounded-time-02::before { content: "\ebbe"; }
.gh-rounded-time-quarter-02::before { content: "\ebbf"; }
.gh-rounded-time-quarter-pass::before { content: "\ebc0"; }
.gh-rounded-trade-down::before { content: "\ebc1"; }
.gh-rounded-trade-up::before { content: "\ebc2"; }
.gh-rounded-traffic-jam-01::before { content: "\ebc3"; }
.gh-rounded-translation::before { content: "\ebc4"; }
.gh-rounded-triangle::before { content: "\ebc5"; }
.gh-rounded-unavailable::before { content: "\ebc6"; }
.gh-rounded-undo-03::before { content: "\ebc7"; }
.gh-rounded-undo::before { content: "\ebc8"; }
.gh-rounded-unfold-less::before { content: "\ebc9"; }
.gh-rounded-unfold-more-down::before { content: "\ebca"; }
.gh-rounded-unfold-more-up::before { content: "\ebcb"; }
.gh-rounded-unfold-more::before { content: "\ebcc"; }
.gh-rounded-upload-02::before { content: "\ebcd"; }
.gh-rounded-upload-04::before { content: "\ebce"; }
.gh-rounded-usb::before { content: "\ebcf"; }
.gh-rounded-user-check-01::before { content: "\ebd0"; }
.gh-rounded-user-circle::before { content: "\ebd1"; }
.gh-rounded-user-full-view::before { content: "\ebd2"; }
.gh-rounded-user-multiple::before { content: "\ebd3"; }
.gh-rounded-user-search-01::before { content: "\ebd4"; }
.gh-rounded-user::before { content: "\ebd5"; }
.gh-rounded-video-01::before { content: "\ebd6"; }
.gh-rounded-view-agenda::before { content: "\ebd7"; }
.gh-rounded-view-off-slash::before { content: "\ebd8"; }
.gh-rounded-view-off::before { content: "\ebd9"; }
.gh-rounded-view::before { content: "\ebda"; }
.gh-rounded-volume-high::before { content: "\ebdb"; }
.gh-rounded-volume-low::before { content: "\ebdc"; }
.gh-rounded-volume-mute-01::before { content: "\ebdd"; }
.gh-rounded-volume-off::before { content: "\ebde"; }
.gh-rounded-wallet-04::before { content: "\ebdf"; }
.gh-rounded-web-design-01::before { content: "\ebe0"; }
.gh-rounded-whatsapp::before { content: "\ebe1"; }
.gh-rounded-wifi-circle::before { content: "\ebe2"; }
.gh-rounded-wifi-error-02::before { content: "\ebe3"; }
.gh-rounded-wifi-lock::before { content: "\ebe4"; }
.gh-rounded-wifi-no-signal::before { content: "\ebe5"; }
.gh-rounded-wifi-off-02::before { content: "\ebe6"; }
.gh-rounded-work::before { content: "\ebe7"; }
.gh-rounded-wrench-01::before { content: "\ebe8"; }
.gh-rounded-zap::before { content: "\ebe9"; }


