@font-face {
  font-family: "groww-huge-standard";
  src: url('groww-huge-standard.eot?t=1778135534378'); /* IE9*/
  src: url('groww-huge-standard.eot?t=1778135534378#iefix') format('embedded-opentype') /* IE6-IE8 */,
  url('groww-huge-standard.woff2?t=1778135534378') format('woff2'),
  url('groww-huge-standard.woff?t=1778135534378') format('woff'),
  url('groww-huge-standard.ttf?t=1778135534378') format('truetype'),
  url('groww-huge-standard.svg?t=1778135534378') format('svg');
}

[class^="gh-standard-"], [class*=" gh-standard-"] {
  font-family: 'groww-huge-standard' !important;font-size: 1em;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




.gh-standard-3-d-view::before { content: "\ea01"; }
.gh-standard-activity-05::before { content: "\ea02"; }
.gh-standard-activity-circle::before { content: "\ea03"; }
.gh-standard-activity-spark::before { content: "\ea04"; }
.gh-standard-add-01::before { content: "\ea05"; }
.gh-standard-add-circle::before { content: "\ea06"; }
.gh-standard-add-square::before { content: "\ea07"; }
.gh-standard-adjust-position::before { content: "\ea08"; }
.gh-standard-ai-beautify::before { content: "\ea09"; }
.gh-standard-ai-generative::before { content: "\ea0a"; }
.gh-standard-ai-magic::before { content: "\ea0b"; }
.gh-standard-alarm-clock::before { content: "\ea0c"; }
.gh-standard-album-02::before { content: "\ea0d"; }
.gh-standard-alert-02::before { content: "\ea0e"; }
.gh-standard-alert-circle::before { content: "\ea0f"; }
.gh-standard-all-bookmark::before { content: "\ea10"; }
.gh-standard-analytics-01::before { content: "\ea11"; }
.gh-standard-anchor::before { content: "\ea12"; }
.gh-standard-api::before { content: "\ea13"; }
.gh-standard-apple-reminder::before { content: "\ea14"; }
.gh-standard-approximately-equal::before { content: "\ea15"; }
.gh-standard-arrow-all-direction::before { content: "\ea16"; }
.gh-standard-arrow-down-01::before { content: "\ea17"; }
.gh-standard-arrow-down-02::before { content: "\ea18"; }
.gh-standard-arrow-down-left-01::before { content: "\ea19"; }
.gh-standard-arrow-down-right-01::before { content: "\ea1a"; }
.gh-standard-arrow-left-01::before { content: "\ea1b"; }
.gh-standard-arrow-left-right::before { content: "\ea1c"; }
.gh-standard-arrow-right-01::before { content: "\ea1d"; }
.gh-standard-arrow-right-02::before { content: "\ea1e"; }
.gh-standard-arrow-right-double::before { content: "\ea1f"; }
.gh-standard-arrow-shrink-02::before { content: "\ea20"; }
.gh-standard-arrow-shrink::before { content: "\ea21"; }
.gh-standard-arrow-up-01::before { content: "\ea22"; }
.gh-standard-arrow-up-02::before { content: "\ea23"; }
.gh-standard-arrow-up-down::before { content: "\ea24"; }
.gh-standard-arrow-up-left-01::before { content: "\ea25"; }
.gh-standard-arrow-up-right-01::before { content: "\ea26"; }
.gh-standard-arrow-up-right-stack::before { content: "\ea27"; }
.gh-standard-arrow-vertical::before { content: "\ea28"; }
.gh-standard-at::before { content: "\ea29"; }
.gh-standard-atm-02::before { content: "\ea2a"; }
.gh-standard-attachment-01::before { content: "\ea2b"; }
.gh-standard-attachment::before { content: "\ea2c"; }
.gh-standard-audio-wave-01::before { content: "\ea2d"; }
.gh-standard-bank::before { content: "\ea2e"; }
.gh-standard-battery-charging-01::before { content: "\ea2f"; }
.gh-standard-battery-empty::before { content: "\ea30"; }
.gh-standard-battery-full::before { content: "\ea31"; }
.gh-standard-battery-low::before { content: "\ea32"; }
.gh-standard-bluetooth-not-connected::before { content: "\ea33"; }
.gh-standard-bluetooth-square::before { content: "\ea34"; }
.gh-standard-bluetooth::before { content: "\ea35"; }
.gh-standard-book-open-01::before { content: "\ea36"; }
.gh-standard-book-open-02::before { content: "\ea37"; }
.gh-standard-bookmark-02::before { content: "\ea38"; }
.gh-standard-bookmark-03::before { content: "\ea39"; }
.gh-standard-border-horizontal::before { content: "\ea3a"; }
.gh-standard-border-left-02::before { content: "\ea3b"; }
.gh-standard-border-none-01::before { content: "\ea3c"; }
.gh-standard-border-right-02::before { content: "\ea3d"; }
.gh-standard-border-vertical::before { content: "\ea3e"; }
.gh-standard-briefcase-02::before { content: "\ea3f"; }
.gh-standard-bubble-chat-question::before { content: "\ea40"; }
.gh-standard-bubble-chat::before { content: "\ea41"; }
.gh-standard-bug-02::before { content: "\ea42"; }
.gh-standard-bulb::before { content: "\ea43"; }
.gh-standard-calculate::before { content: "\ea44"; }
.gh-standard-calculator-01::before { content: "\ea45"; }
.gh-standard-calendar-03::before { content: "\ea46"; }
.gh-standard-calendar-04::before { content: "\ea47"; }
.gh-standard-calendar-05::before { content: "\ea48"; }
.gh-standard-calendar-add-01::before { content: "\ea49"; }
.gh-standard-calendar-check-out-01::before { content: "\ea4a"; }
.gh-standard-calendar-remove-02::before { content: "\ea4b"; }
.gh-standard-calendar-sync::before { content: "\ea4c"; }
.gh-standard-call-add::before { content: "\ea4d"; }
.gh-standard-call-disabled::before { content: "\ea4e"; }
.gh-standard-call-end-02::before { content: "\ea4f"; }
.gh-standard-call-incoming-02::before { content: "\ea50"; }
.gh-standard-call-missed-04::before { content: "\ea51"; }
.gh-standard-call-outgoing-02::before { content: "\ea52"; }
.gh-standard-call-ringing-01::before { content: "\ea53"; }
.gh-standard-call::before { content: "\ea54"; }
.gh-standard-camera-01::before { content: "\ea55"; }
.gh-standard-camera-microphone-02::before { content: "\ea56"; }
.gh-standard-cancel-01::before { content: "\ea57"; }
.gh-standard-cancel-circle::before { content: "\ea58"; }
.gh-standard-cancel-square::before { content: "\ea59"; }
.gh-standard-carousel-horizontal-02::before { content: "\ea5a"; }
.gh-standard-carousel-vertical::before { content: "\ea5b"; }
.gh-standard-chart-01::before { content: "\ea5c"; }
.gh-standard-chart-02::before { content: "\ea5d"; }
.gh-standard-chart-03::before { content: "\ea5e"; }
.gh-standard-chart-analysis::before { content: "\ea5f"; }
.gh-standard-chart-bubble-02::before { content: "\ea60"; }
.gh-standard-chart-candle::before { content: "\ea61"; }
.gh-standard-chart-line-data-02::before { content: "\ea62"; }
.gh-standard-check-list::before { content: "\ea63"; }
.gh-standard-check-unread-04::before { content: "\ea64"; }
.gh-standard-checkmark-badge-02::before { content: "\ea65"; }
.gh-standard-checkmark-circle-02::before { content: "\ea66"; }
.gh-standard-checkmark-square-01::before { content: "\ea67"; }
.gh-standard-checkmark-square-02::before { content: "\ea68"; }
.gh-standard-chevron-double-close::before { content: "\ea69"; }
.gh-standard-circle-arrow-down-02::before { content: "\ea6a"; }
.gh-standard-circle-arrow-left-right::before { content: "\ea6b"; }
.gh-standard-circle-arrow-move-up-right::before { content: "\ea6c"; }
.gh-standard-circle-arrow-up-02::before { content: "\ea6d"; }
.gh-standard-circle-arrow-up-down::before { content: "\ea6e"; }
.gh-standard-circle-arrow-up-right::before { content: "\ea6f"; }
.gh-standard-circle-lock-check-02::before { content: "\ea70"; }
.gh-standard-circle-unlock-01::before { content: "\ea71"; }
.gh-standard-circle::before { content: "\ea72"; }
.gh-standard-clock-01::before { content: "\ea73"; }
.gh-standard-clock-02::before { content: "\ea74"; }
.gh-standard-clock-add::before { content: "\ea75"; }
.gh-standard-cloud-download::before { content: "\ea76"; }
.gh-standard-cloud-saving-done-01::before { content: "\ea77"; }
.gh-standard-cloud-upload::before { content: "\ea78"; }
.gh-standard-cloud::before { content: "\ea79"; }
.gh-standard-coins-02::before { content: "\ea7a"; }
.gh-standard-comment-01::before { content: "\ea7b"; }
.gh-standard-comment-add-02::before { content: "\ea7c"; }
.gh-standard-computer-remove::before { content: "\ea7d"; }
.gh-standard-conference::before { content: "\ea7e"; }
.gh-standard-configuration-01::before { content: "\ea7f"; }
.gh-standard-contact-book::before { content: "\ea80"; }
.gh-standard-contact::before { content: "\ea81"; }
.gh-standard-copy-02::before { content: "\ea82"; }
.gh-standard-copyright::before { content: "\ea83"; }
.gh-standard-credit-card::before { content: "\ea84"; }
.gh-standard-cursor-rectangle-selection-01::before { content: "\ea85"; }
.gh-standard-dashboard-square-02::before { content: "\ea86"; }
.gh-standard-dashboard-square-add::before { content: "\ea87"; }
.gh-standard-dashed-line-circle::before { content: "\ea88"; }
.gh-standard-delete-01::before { content: "\ea89"; }
.gh-standard-delete-02::before { content: "\ea8a"; }
.gh-standard-delete-04::before { content: "\ea8b"; }
.gh-standard-delete-throw::before { content: "\ea8c"; }
.gh-standard-delivery-box-02::before { content: "\ea8d"; }
.gh-standard-device-access::before { content: "\ea8e"; }
.gh-standard-dialpad-square-02::before { content: "\ea8f"; }
.gh-standard-disability-01::before { content: "\ea90"; }
.gh-standard-disability-02::before { content: "\ea91"; }
.gh-standard-discover-circle::before { content: "\ea92"; }
.gh-standard-distribute-horizontal-center::before { content: "\ea93"; }
.gh-standard-document-code::before { content: "\ea94"; }
.gh-standard-dollar-01::before { content: "\ea95"; }
.gh-standard-dollar-circle::before { content: "\ea96"; }
.gh-standard-dollar-square::before { content: "\ea97"; }
.gh-standard-download-03::before { content: "\ea98"; }
.gh-standard-download-04::before { content: "\ea99"; }
.gh-standard-drag-drop-vertical::before { content: "\ea9a"; }
.gh-standard-eco-power::before { content: "\ea9b"; }
.gh-standard-edge-style::before { content: "\ea9c"; }
.gh-standard-edit-off::before { content: "\ea9d"; }
.gh-standard-electricity-stack::before { content: "\ea9e"; }
.gh-standard-energy-ellipse::before { content: "\ea9f"; }
.gh-standard-energy::before { content: "\eaa0"; }
.gh-standard-eraser-01::before { content: "\eaa1"; }
.gh-standard-estimate-02::before { content: "\eaa2"; }
.gh-standard-euro::before { content: "\eaa3"; }
.gh-standard-favourite::before { content: "\eaa4"; }
.gh-standard-file-02::before { content: "\eaa5"; }
.gh-standard-file-attachment::before { content: "\eaa6"; }
.gh-standard-file-download::before { content: "\eaa7"; }
.gh-standard-file-empty-01::before { content: "\eaa8"; }
.gh-standard-file-search::before { content: "\eaa9"; }
.gh-standard-file-upload::before { content: "\eaaa"; }
.gh-standard-file-validation::before { content: "\eaab"; }
.gh-standard-file-view::before { content: "\eaac"; }
.gh-standard-film-02::before { content: "\eaad"; }
.gh-standard-filter-mail-circle::before { content: "\eaae"; }
.gh-standard-filter::before { content: "\eaaf"; }
.gh-standard-finger-access::before { content: "\eab0"; }
.gh-standard-first-aid-kit::before { content: "\eab1"; }
.gh-standard-flag-02::before { content: "\eab2"; }
.gh-standard-flashlight::before { content: "\eab3"; }
.gh-standard-floppy-disk::before { content: "\eab4"; }
.gh-standard-folder-add::before { content: "\eab5"; }
.gh-standard-folder-details::before { content: "\eab6"; }
.gh-standard-folder-export::before { content: "\eab7"; }
.gh-standard-folder-file-storage::before { content: "\eab8"; }
.gh-standard-folder-shared-01::before { content: "\eab9"; }
.gh-standard-folder-upload::before { content: "\eaba"; }
.gh-standard-forward-01::before { content: "\eabb"; }
.gh-standard-full-screen::before { content: "\eabc"; }
.gh-standard-gif-01::before { content: "\eabd"; }
.gh-standard-gift-card-02::before { content: "\eabe"; }
.gh-standard-gift-card::before { content: "\eabf"; }
.gh-standard-global-search::before { content: "\eac0"; }
.gh-standard-gold-buy::before { content: "\eac1"; }
.gh-standard-gold-sell::before { content: "\eac2"; }
.gh-standard-google-doc::before { content: "\eac3"; }
.gh-standard-gps-01::before { content: "\eac4"; }
.gh-standard-gps-02::before { content: "\eac5"; }
.gh-standard-gps-off-01::before { content: "\eac6"; }
.gh-standard-gr-1::before { content: "\eac7"; }
.gh-standard-grid-02::before { content: "\eac8"; }
.gh-standard-headset::before { content: "\eac9"; }
.gh-standard-help-circle::before { content: "\eaca"; }
.gh-standard-help-square::before { content: "\eacb"; }
.gh-standard-hierarchy-square-05::before { content: "\eacc"; }
.gh-standard-hold-03::before { content: "\eacd"; }
.gh-standard-home-11::before { content: "\eace"; }
.gh-standard-hotspot-offline::before { content: "\eacf"; }
.gh-standard-hotspot::before { content: "\ead0"; }
.gh-standard-hourglass-off::before { content: "\ead1"; }
.gh-standard-hourglass::before { content: "\ead2"; }
.gh-standard-id::before { content: "\ead3"; }
.gh-standard-identity-card::before { content: "\ead4"; }
.gh-standard-image-02::before { content: "\ead5"; }
.gh-standard-image-03::before { content: "\ead6"; }
.gh-standard-image-add-02::before { content: "\ead7"; }
.gh-standard-inbox-download::before { content: "\ead8"; }
.gh-standard-inbox-unread::before { content: "\ead9"; }
.gh-standard-inbox::before { content: "\eada"; }
.gh-standard-information-circle::before { content: "\eadb"; }
.gh-standard-information-square::before { content: "\eadc"; }
.gh-standard-internet-antenna-01::before { content: "\eadd"; }
.gh-standard-internet::before { content: "\eade"; }
.gh-standard-invoice-01::before { content: "\eadf"; }
.gh-standard-key-02::before { content: "\eae0"; }
.gh-standard-label-important::before { content: "\eae1"; }
.gh-standard-label::before { content: "\eae2"; }
.gh-standard-language-skill::before { content: "\eae3"; }
.gh-standard-laptop-cloud::before { content: "\eae4"; }
.gh-standard-laptop-phone-sync::before { content: "\eae5"; }
.gh-standard-layout-03::before { content: "\eae6"; }
.gh-standard-layout-3-column::before { content: "\eae7"; }
.gh-standard-layout-grid::before { content: "\eae8"; }
.gh-standard-left-to-right-list-bullet::before { content: "\eae9"; }
.gh-standard-left-to-right-list-number::before { content: "\eaea"; }
.gh-standard-left-to-right-list-star::before { content: "\eaeb"; }
.gh-standard-legal-02::before { content: "\eaec"; }
.gh-standard-license::before { content: "\eaed"; }
.gh-standard-link-05::before { content: "\eaee"; }
.gh-standard-link-square-01::before { content: "\eaef"; }
.gh-standard-list-view::before { content: "\eaf0"; }
.gh-standard-live-streaming-02::before { content: "\eaf1"; }
.gh-standard-location-06::before { content: "\eaf2"; }
.gh-standard-location-offline-01::before { content: "\eaf3"; }
.gh-standard-login-02::before { content: "\eaf4"; }
.gh-standard-login-square-02::before { content: "\eaf5"; }
.gh-standard-logout-01::before { content: "\eaf6"; }
.gh-standard-logout-02::before { content: "\eaf7"; }
.gh-standard-loyalty-card::before { content: "\eaf8"; }
.gh-standard-mail-01::before { content: "\eaf9"; }
.gh-standard-mail-account-01::before { content: "\eafa"; }
.gh-standard-mail-edit-02::before { content: "\eafb"; }
.gh-standard-mail-minus-02::before { content: "\eafc"; }
.gh-standard-mail-reply-all-01::before { content: "\eafd"; }
.gh-standard-mail-send-01::before { content: "\eafe"; }
.gh-standard-mail-validation-01::before { content: "\eaff"; }
.gh-standard-mds_ic_dll_fill::before { content: "\eb00"; }
.gh-standard-mds_ic_huge_collapse::before { content: "\eb01"; }
.gh-standard-mds_ic_huge_expand::before { content: "\eb02"; }
.gh-standard-mds_ic_huge_expanded_chevron_double_close::before { content: "\eb03"; }
.gh-standard-mds_ic_huge_expanded_chevron_double_optionchain::before { content: "\eb04"; }
.gh-standard-mds_ic_huge_expanded_layout::before { content: "\eb05"; }
.gh-standard-mds_ic_huge_product__mf::before { content: "\eb06"; }
.gh-standard-mds_ic_huge_product_bonds::before { content: "\eb07"; }
.gh-standard-mds_ic_huge_product_buy::before { content: "\eb08"; }
.gh-standard-mds_ic_huge_product_dll::before { content: "\eb09"; }
.gh-standard-mds_ic_huge_product_etf::before { content: "\eb0a"; }
.gh-standard-mds_ic_huge_product_fno::before { content: "\eb0b"; }
.gh-standard-mds_ic_huge_product_loans::before { content: "\eb0c"; }
.gh-standard-mds_ic_huge_product_marketdepth::before { content: "\eb0d"; }
.gh-standard-mds_ic_huge_product_pay::before { content: "\eb0e"; }
.gh-standard-mds_ic_huge_product_search::before { content: "\eb0f"; }
.gh-standard-mds_ic_huge_product_sell::before { content: "\eb10"; }
.gh-standard-mds_ic_huge_product_stocks::before { content: "\eb11"; }
.gh-standard-mds_ic_huge_product_stocks_sip::before { content: "\eb12"; }
.gh-standard-mds_ic_huge_product_strategy::before { content: "\eb13"; }
.gh-standard-mds_ic_huge_product_unfold_more::before { content: "\eb14"; }
.gh-standard-mds_ic_huge_product_unlisted_icon::before { content: "\eb15"; }
.gh-standard-mds_ic_huge_product_us_stocks::before { content: "\eb16"; }
.gh-standard-mds_ic_huge_sort::before { content: "\eb17"; }
.gh-standard-mds_ic_huge_stocks::before { content: "\eb18"; }
.gh-standard-mds_ic_rupee::before { content: "\eb19"; }
.gh-standard-mds_ic_stocks_sip_v3::before { content: "\eb1a"; }
.gh-standard-medal-02::before { content: "\eb1b"; }
.gh-standard-megaphone-03::before { content: "\eb1c"; }
.gh-standard-menu-01::before { content: "\eb1d"; }
.gh-standard-menu-03::before { content: "\eb1e"; }
.gh-standard-menu-07::before { content: "\eb1f"; }
.gh-standard-menu-08::before { content: "\eb20"; }
.gh-standard-menu-09::before { content: "\eb21"; }
.gh-standard-menu-square::before { content: "\eb22"; }
.gh-standard-message-02::before { content: "\eb23"; }
.gh-standard-message-blocked::before { content: "\eb24"; }
.gh-standard-message-done-02::before { content: "\eb25"; }
.gh-standard-message-multiple-01::before { content: "\eb26"; }
.gh-standard-message-notification-02::before { content: "\eb27"; }
.gh-standard-mic-01::before { content: "\eb28"; }
.gh-standard-microscope::before { content: "\eb29"; }
.gh-standard-microsoft::before { content: "\eb2a"; }
.gh-standard-minus-sign::before { content: "\eb2b"; }
.gh-standard-mobile-programming-02::before { content: "\eb2c"; }
.gh-standard-mobile-security::before { content: "\eb2d"; }
.gh-standard-money-02::before { content: "\eb2e"; }
.gh-standard-money-lock::before { content: "\eb2f"; }
.gh-standard-money-not-found-02::before { content: "\eb30"; }
.gh-standard-moon-02::before { content: "\eb31"; }
.gh-standard-more-02::before { content: "\eb32"; }
.gh-standard-more-horizontal-circle-02::before { content: "\eb33"; }
.gh-standard-more-horizontal::before { content: "\eb34"; }
.gh-standard-more-vertical::before { content: "\eb35"; }
.gh-standard-more::before { content: "\eb36"; }
.gh-standard-mute::before { content: "\eb37"; }
.gh-standard-next-week::before { content: "\eb38"; }
.gh-standard-next::before { content: "\eb39"; }
.gh-standard-note-add::before { content: "\eb3a"; }
.gh-standard-notification-01::before { content: "\eb3b"; }
.gh-standard-notification-02::before { content: "\eb3c"; }
.gh-standard-options-call::before { content: "\eb3d"; }
.gh-standard-paint-brush-02::before { content: "\eb3e"; }
.gh-standard-paragraph-spacing::before { content: "\eb3f"; }
.gh-standard-parking-area-square::before { content: "\eb40"; }
.gh-standard-pathfinder-minus-back::before { content: "\eb41"; }
.gh-standard-pathfinder-minus-front::before { content: "\eb42"; }
.gh-standard-pause-circle::before { content: "\eb43"; }
.gh-standard-payoneer::before { content: "\eb44"; }
.gh-standard-pdf-02::before { content: "\eb45"; }
.gh-standard-pen-01::before { content: "\eb46"; }
.gh-standard-pencil-edit-01::before { content: "\eb47"; }
.gh-standard-percent-circle::before { content: "\eb48"; }
.gh-standard-percent::before { content: "\eb49"; }
.gh-standard-phone-off-02::before { content: "\eb4a"; }
.gh-standard-picture-in-picture-on::before { content: "\eb4b"; }
.gh-standard-pie-chart-01::before { content: "\eb4c"; }
.gh-standard-pie-chart-03::before { content: "\eb4d"; }
.gh-standard-pin-02::before { content: "\eb4e"; }
.gh-standard-play-circle::before { content: "\eb4f"; }
.gh-standard-play-store::before { content: "\eb50"; }
.gh-standard-plus-sign-circle::before { content: "\eb51"; }
.gh-standard-power-socket-01::before { content: "\eb52"; }
.gh-standard-preference-horizontal::before { content: "\eb53"; }
.gh-standard-printer-off::before { content: "\eb54"; }
.gh-standard-printer::before { content: "\eb55"; }
.gh-standard-puzzle::before { content: "\eb56"; }
.gh-standard-qr-code-01::before { content: "\eb57"; }
.gh-standard-qr-code::before { content: "\eb58"; }
.gh-standard-quote-down::before { content: "\eb59"; }
.gh-standard-radar-03::before { content: "\eb5a"; }
.gh-standard-radio-button::before { content: "\eb5b"; }
.gh-standard-rain-drop::before { content: "\eb5c"; }
.gh-standard-record::before { content: "\eb5d"; }
.gh-standard-redo-03::before { content: "\eb5e"; }
.gh-standard-redo::before { content: "\eb5f"; }
.gh-standard-reload::before { content: "\eb60"; }
.gh-standard-remote-control::before { content: "\eb61"; }
.gh-standard-remove-circle::before { content: "\eb62"; }
.gh-standard-remove-square::before { content: "\eb63"; }
.gh-standard-restaurant-02::before { content: "\eb64"; }
.gh-standard-right-to-left-list-number::before { content: "\eb65"; }
.gh-standard-rss::before { content: "\eb66"; }
.gh-standard-safe-box::before { content: "\eb67"; }
.gh-standard-scissor::before { content: "\eb68"; }
.gh-standard-screen-add-to-home::before { content: "\eb69"; }
.gh-standard-screen-lock-rotation::before { content: "\eb6a"; }
.gh-standard-screen-rotation::before { content: "\eb6b"; }
.gh-standard-sd-card::before { content: "\eb6c"; }
.gh-standard-search-add::before { content: "\eb6d"; }
.gh-standard-search-minus::before { content: "\eb6e"; }
.gh-standard-search-remove::before { content: "\eb6f"; }
.gh-standard-search-replace::before { content: "\eb70"; }
.gh-standard-seat-selector::before { content: "\eb71"; }
.gh-standard-security-warning::before { content: "\eb72"; }
.gh-standard-send-to-mobile::before { content: "\eb73"; }
.gh-standard-sent::before { content: "\eb74"; }
.gh-standard-server-stack-02::before { content: "\eb75"; }
.gh-standard-settings-01::before { content: "\eb76"; }
.gh-standard-shapes-01::before { content: "\eb77"; }
.gh-standard-share-08::before { content: "\eb78"; }
.gh-standard-share-knowledge::before { content: "\eb79"; }
.gh-standard-shield-01::before { content: "\eb7a"; }
.gh-standard-shield-user::before { content: "\eb7b"; }
.gh-standard-shopping-basket-01::before { content: "\eb7c"; }
.gh-standard-shopping-basket-03::before { content: "\eb7d"; }
.gh-standard-shopping-cart-01::before { content: "\eb7e"; }
.gh-standard-shopping-cart-add-01::before { content: "\eb7f"; }
.gh-standard-shopping-cart-remove-02::before { content: "\eb80"; }
.gh-standard-shrink-dot::before { content: "\eb81"; }
.gh-standard-shut-down::before { content: "\eb82"; }
.gh-standard-shutterstock::before { content: "\eb83"; }
.gh-standard-sidebar-right::before { content: "\eb84"; }
.gh-standard-sidebar-top::before { content: "\eb85"; }
.gh-standard-signal-low-02::before { content: "\eb86"; }
.gh-standard-signal-no-01::before { content: "\eb87"; }
.gh-standard-signal-no-02::before { content: "\eb88"; }
.gh-standard-smart-phone-01::before { content: "\eb89"; }
.gh-standard-smart-phone-04::before { content: "\eb8a"; }
.gh-standard-smart-phone-landscape::before { content: "\eb8b"; }
.gh-standard-smile::before { content: "\eb8c"; }
.gh-standard-sofa-01::before { content: "\eb8d"; }
.gh-standard-solid-line-01::before { content: "\eb8e"; }
.gh-standard-source-code::before { content: "\eb8f"; }
.gh-standard-spam::before { content: "\eb90"; }
.gh-standard-square-01::before { content: "\eb91"; }
.gh-standard-square-arrow-move-down-left::before { content: "\eb92"; }
.gh-standard-square-f::before { content: "\eb93"; }
.gh-standard-square-lock-02::before { content: "\eb94"; }
.gh-standard-square::before { content: "\eb95"; }
.gh-standard-stamp::before { content: "\eb96"; }
.gh-standard-star-circle::before { content: "\eb97"; }
.gh-standard-star::before { content: "\eb98"; }
.gh-standard-sticky-note-03::before { content: "\eb99"; }
.gh-standard-stop-watch::before { content: "\eb9a"; }
.gh-standard-store-04::before { content: "\eb9b"; }
.gh-standard-summation-01::before { content: "\eb9c"; }
.gh-standard-sun-01::before { content: "\eb9d"; }
.gh-standard-swipe-up-07::before { content: "\eb9e"; }
.gh-standard-tablet-connected-usb::before { content: "\eb9f"; }
.gh-standard-tag-01::before { content: "\eba0"; }
.gh-standard-tap-04::before { content: "\eba1"; }
.gh-standard-target-01::before { content: "\eba2"; }
.gh-standard-task-01::before { content: "\eba3"; }
.gh-standard-task-done-01::before { content: "\eba4"; }
.gh-standard-task-remove-01::before { content: "\eba5"; }
.gh-standard-temperature::before { content: "\eba6"; }
.gh-standard-text-align-center::before { content: "\eba7"; }
.gh-standard-text-align-justify-center::before { content: "\eba8"; }
.gh-standard-text-align-left::before { content: "\eba9"; }
.gh-standard-text-align-right::before { content: "\ebaa"; }
.gh-standard-text-bold::before { content: "\ebab"; }
.gh-standard-text-check::before { content: "\ebac"; }
.gh-standard-text-clear::before { content: "\ebad"; }
.gh-standard-text-creation::before { content: "\ebae"; }
.gh-standard-text-font::before { content: "\ebaf"; }
.gh-standard-text-indent::before { content: "\ebb0"; }
.gh-standard-text-italic::before { content: "\ebb1"; }
.gh-standard-text-smallcaps::before { content: "\ebb2"; }
.gh-standard-text-strikethrough::before { content: "\ebb3"; }
.gh-standard-text-underline::before { content: "\ebb4"; }
.gh-standard-text-wrap::before { content: "\ebb5"; }
.gh-standard-text::before { content: "\ebb6"; }
.gh-standard-thumbs-down::before { content: "\ebb7"; }
.gh-standard-thumbs-up-down::before { content: "\ebb8"; }
.gh-standard-thumbs-up::before { content: "\ebb9"; }
.gh-standard-tick-02::before { content: "\ebba"; }
.gh-standard-tick-double-02::before { content: "\ebbb"; }
.gh-standard-ticket-01::before { content: "\ebbc"; }
.gh-standard-ticket-02::before { content: "\ebbd"; }
.gh-standard-time-02::before { content: "\ebbe"; }
.gh-standard-time-quarter-02::before { content: "\ebbf"; }
.gh-standard-time-quarter-pass::before { content: "\ebc0"; }
.gh-standard-trade-down::before { content: "\ebc1"; }
.gh-standard-trade-up::before { content: "\ebc2"; }
.gh-standard-traffic-jam-01::before { content: "\ebc3"; }
.gh-standard-translation::before { content: "\ebc4"; }
.gh-standard-triangle::before { content: "\ebc5"; }
.gh-standard-unavailable::before { content: "\ebc6"; }
.gh-standard-undo-03::before { content: "\ebc7"; }
.gh-standard-undo::before { content: "\ebc8"; }
.gh-standard-unfold-less::before { content: "\ebc9"; }
.gh-standard-unfold-more-down::before { content: "\ebca"; }
.gh-standard-unfold-more-up::before { content: "\ebcb"; }
.gh-standard-unfold-more::before { content: "\ebcc"; }
.gh-standard-upload-02::before { content: "\ebcd"; }
.gh-standard-upload-04::before { content: "\ebce"; }
.gh-standard-usb::before { content: "\ebcf"; }
.gh-standard-user-check-01::before { content: "\ebd0"; }
.gh-standard-user-circle::before { content: "\ebd1"; }
.gh-standard-user-full-view::before { content: "\ebd2"; }
.gh-standard-user-multiple::before { content: "\ebd3"; }
.gh-standard-user-search-01::before { content: "\ebd4"; }
.gh-standard-user::before { content: "\ebd5"; }
.gh-standard-video-01::before { content: "\ebd6"; }
.gh-standard-view-agenda::before { content: "\ebd7"; }
.gh-standard-view-off-slash::before { content: "\ebd8"; }
.gh-standard-view-off::before { content: "\ebd9"; }
.gh-standard-view::before { content: "\ebda"; }
.gh-standard-volume-high::before { content: "\ebdb"; }
.gh-standard-volume-low::before { content: "\ebdc"; }
.gh-standard-volume-mute-01::before { content: "\ebdd"; }
.gh-standard-volume-off::before { content: "\ebde"; }
.gh-standard-wallet-04::before { content: "\ebdf"; }
.gh-standard-web-design-01::before { content: "\ebe0"; }
.gh-standard-whatsapp::before { content: "\ebe1"; }
.gh-standard-wifi-circle::before { content: "\ebe2"; }
.gh-standard-wifi-error-02::before { content: "\ebe3"; }
.gh-standard-wifi-lock::before { content: "\ebe4"; }
.gh-standard-wifi-no-signal::before { content: "\ebe5"; }
.gh-standard-wifi-off-02::before { content: "\ebe6"; }
.gh-standard-work::before { content: "\ebe7"; }
.gh-standard-wrench-01::before { content: "\ebe8"; }
.gh-standard-zap::before { content: "\ebe9"; }


